@import '../../styles/variables';
.wrap{
  width: 360px;
  height: 50px;
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .productImg{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: $grayHighLight;
  }
  .content{
    max-width: 290px;
    height: 50px;
    display: flex;
    flex-direction: column;
    color: $grayLight;
    .title{
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;

    }
    .description{
      display: flex;
      align-items: center;
      .price{

      }
      .totalPrice{
        margin: 0 10px;
        color: $black;
        font-weight: 700;
      }
    }
  }

  .delete{
    cursor: pointer;
    transition: all 0.4s ease-in;
    &:hover{
      transform: scale(1.2);
    }

  }

}