@import '../../styles/globals';
@import '../../styles/variables';
.wrap{
  position: absolute;
  max-width: 360px;
  top: 45px;
  right: -160px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
  z-index: 1;
  @include mobile{
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }


.cart{
  padding: 25px;
  position: relative;


  &::before{
    content: "";
    position: absolute;
    width: 100%;
    border-top: 2px solid $grayHighLight;
    top: 65px;
    left: 0;
  }
  .empty{
    width: 312px;
    height: 150px;
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title{
    color: $black;
    font-weight: 700;
    margin-bottom: 50px;
  }

  .btn{
    width: 100%;
    height: 55px;
    color: $white;
    font-weight: 700;
    line-height: 20px;
    background-color: $orange;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    &:hover{
      background-color: $paleOrange;
    }


  }
}
}