body {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;

  h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
  }


  .container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
  }
}