@import "../../styles/globals";
.wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
  @include medium{
    flex-direction: column;
    margin: 0;
    height: 100%;
  }
  .sliderSize{
    max-width: 445px;
    position: relative;
    @include medium{
      width: 100%;
    }
  }
}

